.DS_Store
__pycache__/
.pytest_cache/
.mypy_cache/
.venv/
*.pyc
build/
dist/
*.egg-info/

outputs/*
!outputs/.gitkeep

data/processed/*
!data/processed/.gitkeep

data/ews/*
!data/ews/.gitkeep

models/
submission/code_bundle/
submission/comp9517_code_submission.zip
